*{

    box-sizing: border-box;
}


main{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

body{

    background-color: #001422;
    color: white;
    
   
}

.circle{
    width: 138px;
height: 138px;
border-radius: 100%;
background-color: rgba(117, 38, 245, 1);
position: relative;
}

.circle-1{
    
    top: -230px;
    left: 74px;
width: 138px;
height: 138px;
background-image: radial-gradient(
    69.62% 69.62% at 50% 50%,
    #ea8bfa 0%,
    #7526f5 100%
  );

}

.circle-2{
    background-image: radial-gradient(
    63.76% 63.76% at 50% 50%,
    #ff00c7 0%,
    #bd95ff 0.01%,
    #a661ff 32.29%,
    #6100ff 98.59%
  );
  width: 329px;
  height: 329px;
  
  top: -168px;
  right: -342px;
}

.circle-3{
    background-image: radial-gradient(
        67.47% 67.47% at 50% 50%,
        #fed0ff 0%,
        #7f00ff 100%
      );
      width: 205px;
      height: 205px;
      
    bottom: -258px;
    left: -486px;
}

.card{
    position: absolute;
   max-width: 405px;
    max-height: 521px;
    background-image: linear-gradient(
    148deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%

  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 19px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-content{
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-height: 100%;
    border-radius: 10px;
}

.card-content img{
    max-width: 100%;
}


.tag{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-inline: 16px; */
    width: 100%;
    
}

.svg{
    height: 14px;
    width: 16px;
}

.card-text{
    padding-inline: 16px;
    padding: 24px 18px;
}

.tag div{
    font-size: 18px;
    color: rgb(252,207,70);
    background-color: rgb(111,112,87);
    padding: 4px ;
    border-radius: 5.21px;
}

.subtitle{
    color: inherit;
    font-family: "montserrat";
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  /* padding-inline: 16px; */
  margin-top: 14px;
  
}

.card-content p{
    font-size: 11px;
    /* line-height: 11px; */
    font-family: "montserrat";
    font-weight: 500;
    /* padding-inline: 16px; */
    margin-top: 15px;
}

.star-rating{
display: flex;
align-items: center;
font-weight: 400;
font-family: "montserrat";
font-size: 14px;
margin-top: 15px;


}

.star-value{
margin-inline: 8px;
    color: rgba(241, 198, 68, 1);
}

.car-button{
    background-color: transparent;
    border: none;
    color: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
    opacity: 0.8;
}

.car-button:hover{
    opacity: 1;
    cursor: pointer;
}